<div class="row">
  <mat-card>
    <mat-card-content>
      <button class="btn-dark btn" [routerLink]="['./questions-list']">Questions-All</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <button class="btn-dark btn" [routerLink]="['./questions-of-interest']">Questions-Of-My-Interest</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <button class="btn-dark btn" [routerLink]="['./questions-popular']">Questions-Popular</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <button class="btn-dark btn" [routerLink]="['./questions-latest']">Questions-Recent</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <button class="btn-light mat-raised-button btn" [routerLink]="['./questions-new']">Ask Question</button>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <mat-card>
    <mat-card-title>Questions-All</mat-card-title>
    <!--<mat-card-title-group>all</mat-card-title-group>-->
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
