<router-outlet></router-outlet>

<!-- 
<div class="invoice-box">
  <table>
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <img src="https://sahijawaab.com/sites/all/themes/correct_answer/logo.png"
                   style="width:100%; max-width:250px;">
            </td>

            <td>
              <b>Invoice #</b>: KalraInfoSystems/SahiJawaab/Invoice#id<br>
              <b>Transaction Date</b>:January 1, 2018<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              <b>Kalra InfoSystems Pvt. Ltd</b><br>
              <b>Contact: </b>G9, First Floor<br>
              South City2, Gurugram<br>
               Haryana, 122018 <br>
              <b>Email: </b> Finance@SahiJawaab.com <br>
              <b>GSTIN/UIN: </b>xxxxxxxxxxxxxxxxxx<br>
            </td>

            <td>
              <b>Name: </b> Sellers' FirstName, LastName<br>
              <b>Contact: </b>Sellers' AddressLine1<br>
              Sellers' AddressLine1<br>
              State, Zip <br>
              <b>Email: </b> Sellers's Email Address<br>
              <b>GSTIN/UIN: </b> xxxxxxxxxxxxxxxxxx<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr class="heading">
      <td>
        Details
      </td>

      <td>
        Price,Tax
      </td>
    </tr>

    <tr class="item">
      <td>
        <b>Transaction: </b>SahiJawaab/sellerEmail/invoice#id
      </td>

      <td>
        ₹ 50.00
      </td>
    </tr>

    IGST = YES, if same state
    else, SGST&CGST are 9% each

    <tr class="item">
      <td>
        IGST ( 18% )
      </td>

      <td>
        ₹ 9.00
      </td>
    </tr>
    <tr class="item">
      <td>
        CGST ( 9% )
      </td>

      <td>
        ₹ 0.00
      </td>
    </tr>
    <tr class="item">
      <td>
        SGST ( 9% )
      </td>

      <td>
        ₹ 0.00
      </td>
    </tr>

    <tr class="heading">
      <td>
        Payment Method
      </td>

      <td>
        Transaction on Invoice
      </td>
    </tr>

    <tr class="details">
      <td>
        Total Amount
      </td>

      <td>
        ₹ 59.00
      </td>
    </tr>
  </table>
  <div>This is computer generated Invoice for Kalra InfoSystems Pvt. Ltd.</div>
</div> -->
