.signup-container {
  display: flex;
  flex-direction: column;
}

.signup-container > * {
  width: 100%;
}
.signupbutton {
  width: 100%
}

.form-grp {
  padding: 48px 40px 36px;
  height: auto;
  min-width: 400px;
  overflow: auto;
}
