<form class="form-group">
  <mat-card class="col-5">
    <mat-card-title>Forgot/Reset Password</mat-card-title>
    <mat-card-subtitle>(Choose your options)</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="fgpwd-container">
      <!-- content of card -->
      <mat-form-field><input matInput placeholder="Email or Phone" value="" #uid_send_new_pwd/></mat-form-field>
      <br/>
      <button class="btn btn-dark fgpwdbutton" (click)="SendNewPassword(uid_send_new_pwd.value)">Send New Password</button>
      <h2>OR</h2>
      <mat-form-field><input matInput placeholder="Email or Phone" value="" #uid/></mat-form-field>
      <mat-form-field><input matInput placeholder="Old Password" value="" #old_pasword/></mat-form-field>
      <mat-form-field><input matInput placeholder="NewPasword" value="" #new_password/></mat-form-field>

      <button class="btn btn-dark fgpwdbutton" (click)="ChangePassword(uid.value)"> Change Old Password</button>
    </mat-card-content>
  </mat-card>

</form>
