/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~angular-star-rating/assets/scss/star-rating";

// Custom style for loading elements without height
.will-load {
  min-height: 80px;
}
// Href line height wasn't right for mat-icon-button
a[mat-icon-button] {
  line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
  font-weight: 400;
}

