<td-navigation-drawer flex sidenavTitle="TrueUI" name="Firstname Lastname" email="firstname.lastname@company.com">
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon>home</mat-icon>
      Home</a>
  </mat-nav-list>
  <div td-navigation-drawer-menu>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>account_box</mat-icon>
        Profile</a>
      <a mat-list-item>
        <mat-icon>question_answer</mat-icon>
        Question & Answer</a>
      <a mat-list-item>
        <mat-icon>search</mat-icon>
        Lookup Professionals</a>
      <a mat-list-item>
        <mat-icon>find_in_page</mat-icon>
        Lookup Questions</a>
    </mat-nav-list>
  </div>
</td-navigation-drawer>
<app-header></app-header>
<router-outlet></router-outlet>
